# Docker安装Server

version: '3'
services:
  xiaozhi-esp32-server:
    image: ghcr.nju.edu.cn/xinnan-tech/xiaozhi-esp32-server:server_latest
    container_name: xiaozhi-esp32-server
    restart: always
    security_opt:
      - seccomp:unconfined
    environment:
      - TZ=Asia/Shanghai
    ports:
      # ws服务端
      - "8000:8000"
      # http服务的端口，用于简单OTA接口(单服务部署)，以及视觉分析接口
      - "8003:8003"
    volumes:
      # 配置文件目录
      - ./data:/opt/xiaozhi-esp32-server/data
      # 模型文件挂接，很重要
      - ./models/SenseVoiceSmall/model.pt:/opt/xiaozhi-esp32-server/models/SenseVoiceSmall/model.pt
      # 将ESP32工程的main目录挂载到Server容器中，便于联调/共享资源
      - /home/tester/esp/xiaozhi-esp32_r2/main:/opt/xiaozhi-esp32-server/esp32-main
      # 挂载修改后的设备MCP处理器文件，使withMRTools参数生效
      - ./main/xiaozhi-server/core/providers/tools/device_mcp/mcp_handler.py:/opt/xiaozhi-esp32-server/core/providers/tools/device_mcp/mcp_handler.py
      # 挂载修改后的MCP接入点处理器文件
      - ./main/xiaozhi-server/core/providers/tools/mcp_endpoint/mcp_endpoint_handler.py:/opt/xiaozhi-esp32-server/core/providers/tools/mcp_endpoint/mcp_endpoint_handler.py
      # 挂载归一化唤醒词匹配逻辑的监听处理器
      - ./main/xiaozhi-server/core/handle/textHandler/listenMessageHandler.py:/opt/xiaozhi-esp32-server/core/handle/textHandler/listenMessageHandler.py
      # 挂载缓存型唤醒回复匹配逻辑
      - ./main/xiaozhi-server/core/handle/helloHandle.py:/opt/xiaozhi-esp32-server/core/handle/helloHandle.py